/* Uma regra de CSS é composta por 3 partes: seletor, propriedade e valor */


body /*seletor*/ {
    background/*propriedade*/: rgb(221, 216, 216)/*valor*/;
}

p {
    color: rgb(34, 34, 34);
}

.foto-principal {
    width: 200px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
   
    /*
    border-width: 5px;
    border-style: dashed;
    border-color: black;

    shorthand

    a tag border simplifica essas 3
    */
}