
h1 {
    text-shadow: 2px 2px 20px green;
}

p {
    color: green;
    text-align: justify;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    /*font-variant: small-caps;*/
    text-transform: capitalize;
    text-indent: 50px;
    word-spacing: 20px;
    line-height: 150px;
}

a {
    text-decoration: none;
    letter-spacing: 20px;
}